@use "../../foundation" as *;

// ========================================
// 最後に + WEB限定（1:259）
// ========================================
.p-finally {
  position: relative;
  overflow: hidden;
}

.p-finally__bg {
  position: absolute;
  z-index: 0;
  background-color: #f5ede5;
  inset: 0;
}

.p-finally__bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  object-position: center top;
}

.p-finally__inner {
  position: relative;
  z-index: 1;
}

.p-finally__content {
  padding: 0 prem(12);
  background: rgb(255 255 255 / 80%);
}

.p-finally__content-bg {
  padding: prem(46) prem(20) prem(80);
  border-right: prem(2.4) solid $main-orange;
  border-left: prem(2.4) solid $main-orange;
}

.p-finally__content-body {
  max-width: prem(800);
  margin: 0 auto;
  text-align: center;
}

.p-finally__title {
  width: prem(266);
  height: prem(75);
  margin: 0 auto prem(24);

  @include mq("md") {
    width: clamp(#{prem(200)}, 20vw, #{prem(266)});
  }
}

.p-finally__text {
  margin-bottom: 1.5em;
  font-size: prem(24);
  line-height: 1.4;
  text-align: left;
  color: $navy;

  @include mq("md") {
    font-size: clamp(prem(20), 3.2vw, prem(24));
  }

  @include mq("sm") {
    font-size: clamp(prem(17), 4.1vw, prem(24));
  }
}

.p-finally__list {
  margin-bottom: prem(24);
  font-size: prem(24);
  line-height: 1.4;
  text-align: left;
  color: $navy;

  @include mq("md") {
    font-size: clamp(prem(20), 3.2vw, prem(24));
  }
}

.p-finally__cta {
  border-bottom: prem(1.4) solid $main-orange;
  font-size: prem(34);
  font-weight: $font-weight-m;
  text-align: center;
  color: $main-orange;

  &.p-finally__cta--pc {
    display: inline;
    @include mq("md") {
      display: none;
    }
  }
  &.p-finally__cta--md {
    display: none;
    @include mq("md") {
      font-size: clamp(prem(24), 6.7vw, prem(30));
      display: inline;
      line-height: 1.6;
    }
  }

  @include mq("lg") {
    display: inline;
    font-size: clamp(prem(24), 3.5vw, prem(30));
  }

  @include mq("md") {
    font-size: clamp(prem(24), 4.2vw, prem(30));
  }
}

.p-finally__banner {
  padding: prem(24);
  font-size: prem(24);
  font-weight: $font-weight-m;
  text-align: center;
  color: $white;
  background-color: $main-orange;

  @include mq("md") {
    padding: prem(32);
    font-size: prem(32);
  }
}
